.gradient-custom-2{
    background-image: url("./Images/IMG_3146.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 100%;
    
}

